{% extends "base.html" %}

{% load staticfiles %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://erebos.xyz/CSS/origam.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Noto%20Sans:400,700">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<script type="text/javascript" src="{% static 'js/nojs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pace.js' %}"></script>
<script type="text/javascript" src="{% static 'js/kazuhikoarase.js' %}"></script>
<script type="text/javascript" src="{% static 'js/qrcodegenerator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/boom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/seal.js' %}"></script>
<script type="text/javascript" src="{% static 'js/oculus.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nyan.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scc.js' %}"></script>
<script type="text/javascript" src="{% static 'js/party.js' %}"></script>
{% endblock %}
{% block content %}
  {% include "home/h_site-header/site-header.html" %}
  {% include "home/a_about/about.html" %}
  {% include "home/a_motd/motd.html" %}
  {% include "home/a_sharingan/sharingan.html" %}
  {% include "home/a_spaceship/spaceship.html" %}
  {% include "home/a_gallery/gallery.html" %}
  {% include "home/a_gallery/gallery.html" %}
  {% include "home/s_party/partyaudio.html" %}
  {% include "home/f_impressum/impressum.html" %}
  {% block script %}
  {% endblock %}
{% endblock %}
