{% block gallery %}
<article class="gallery">
  <header>
    <h2 class="gallery-h">fun</h2>
  </header>
  <section class="gallery-s">
    <img src="https://erebos.xyz/GALLERY/49TwyhB.png" alt="49TwyhB">
    <img src="https://erebos.xyz/GALLERY/9DTlc6m.png" alt="9DTlc6m">
    <img src="https://erebos.xyz/GALLERY/8Gc5hWl.png" alt="8Gc5hWl">
    <img src="https://erebos.xyz/GALLERY/nQV6d5G.png" alt="nQV6d5G">
    <img src="https://erebos.xyz/GALLERY/49TwyhB.png" alt="49TwyhB">
    <img src="https://erebos.xyz/GALLERY/8Gc5hWl.png" alt="8Gc5hWl">
    <img src="https://erebos.xyz/GALLERY/9DTlc6m.png" alt="9DTlc6m">
    <img src="https://erebos.xyz/GALLERY/nQV6d5G.png" alt="nQV6d5G">
  </section>
</article>
{% endblock %}
