{% block about %}
<article class="about">
  <input type="radio" name="radioabout" id="about-1" checked>
  <section class="about-s about-1">
    <div class="boxes">
      <div class="box-title">
        <h3>The Erebos Network</h3>
      </div>
      <div class="box">
        <h4>Who we are?</h4>
        <p>We are a independent private developer circle with the goal to gain knowledge.<br>
          Most of our projects are open to the public and able to view at this website.<br>
        </p>
      </div>
      <div class="box">
        <h4>How to become a part of it?</h4>
        <p>The only way to get into the Erebos Network is by invitation, but we are always happy if people are interested in the things we do. If you want to support our projects or just want to  have a great time with some geeky developers you are welcome on our teamspeak.</p>
      </div>
      <div class="box">
        <h4>How big is this circle?</h4>
        <p>Size matters, but it's all about the motion of the ocean. ^^</p>
      </div>
    </div>
    <div class="triangulum">
      <blink class="oculus-blink">Erebos Network</blink>
      <div class="oculus">
        <label for="about-6" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-2" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-2">
  <section class="about-s about-2">
    <div class="boxes">
      <div class="box-title">
        <h3>The Erebos Network (from a technical point of view)</h3>
      </div>
      <div class="box">
        <h4>Hardware is always a question of money</h4>
        <p>
          That’s true. ^^<br>
          But by sharing our resources and trying to make the most out of them.<br>
          We achieved, thanks to our IT fraction, to establish a worldwide Network and are able to provide all of our online services without squeezing money out of our friends, users, or family members.
        </p>
      </div>
      <div class="box">
        <h4>About what hardware are we exactly talking about?</h4>
        <p>
          In fact when we talk about hardware, we talk about virtuell and real hardware. That means we are really talk about computing power rather than actual server-hardware, considering that most of our network is made up of "virtual privat servers" and only small parts of it are "real servers". But as mentioned earlier, it's not always about the newest and most expensiv hardware, "Together we are strong".
        </p>
      </div>
    </div>
    <div class="triangulum">
      <img class="oculus-pic" src="https://erebos.xyz/PIC/erebos_network.png" alt="erebos_network">
      <div class="oculus">
        <label for="about-1" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-3" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-3">
  <section class="about-s about-3">
    <div class="boxes">
      <div class="box-title">
        <h3>The Erebos Network (from a developer point of view)</h3>
      </div>
      <div class="box">
        <h4>Working together and gaining experience</h4>
        <p>
          The Developer team of Erebos is not allmighty, but we have huge knowledge when it gets to programming and IT. We have knowledge in various programm languages like C#, python, ruby, java, pearl, pascal, visual basic, assembly(risc,cisc), C++, C and Brainfuck, but don't forget about virtualisation, Docker, Win Server, Linux Server and system security.
        </p>
      </div>
      <div class="box">
        <h4>Learing by doing</h4>
        <p>
          Doing projects together is one of the best things when improving yourself. We are not people who do everything alone, we also need sleep and calmness. If you want to do a project in our Network, search for Developers which like your idea and want to work with you. We have the knowledge, but motivation in a project is the core of all things.
        </p>
      </div>
    </div>
    <div class="triangulum">
      <blink class="oculus-blink">Code</blink>
      <div class="oculus">
        <label for="about-2" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-4" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-4">
  <section class="about-s about-4">
    <div class="boxes">
      <div class="box-title">
        <h3>The Erebos Network (from a gamers point of view)</h3>
      </div>
      <div class="box">
        <h4>Gaining Gaming Experience</h4>
        <p>
          If you think Erebos is only for IT stuff and meth then you are wrong. In the Erebos Network we have many players. Who play all sorts of games. Many of us are willing to share their gaming experience with other people (and other stuff of their life) for example: Kami can teach people every basics of every game.
        </p>
      </div>
      <div class="box">
        <h4>Toxic!?</h4>
        <p>
          No, we are not toxic (most of the time xD) but when we are, we don't. I cannot provide secureness for your precious heart but we can ban toxic shit players for you^^
        </p>
      </div>
    </div>
    <div class="triangulum">
      <img class="oculus-pic" src="https://erebos.xyz/PIC/pacman.png" alt="erebos_network">
      <div class="oculus">
        <label for="about-3" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-5" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-5">
  <section class="about-s about-5">
    <div class="boxes">
      <div class="box-title">
        <h3>The Erebos Network (from a otaku point of view)</h3>
      </div>
      <div class="box">
        <h4>Its all about Oppai</h4>
        <p>
          Our Anime community is not the biggest, but we are very passionate when it goes to our most favourite Anime. We accept every direction which you may like in anime, but dont post any weird links in TS, do that in Telegram, we can talk that out ^^
        </p>
      </div>
      <div class="box">
        <h4>We are no Weaboos</h4>
        <p>
          We like Japan, but that is all. We are no weird Naruto running like Faggot, who think that Dragon Ball is the best, and we don't believe in the One Piece ^^
        </p>
      </div>
      <div class="box">
        <h4>No Game no Laifu with Waifu</h4>
        <p>
          Everyone has a favourite charakter or a heroine, but trashtalking a favourite charakter of another person is not nice. Nobody of us will flame your favourite, if someone does that then please report ^^
        </p>
      </div>
    </div>
    <div class="triangulum">
      <img class="oculus-pic" src="https://erebos.xyz/PIC/39.png" alt="erebos_network">
      <div class="oculus">
        <label for="about-4" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-6" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-6">
  <section class="about-s about-6">
    <div class="boxes">
      <div class="box-title">
        <h3>The Erebos Network (latest project)</h3>
      </div>
      <div class="box">
        <p>
        </p>
      </div>
      <div class="box">
        <p>
        </p>
      </div>
      <div class="box">
        <p>
        </p>
      </div>
    </div>
    <div class="triangulum">
      <blink class="oculus-blink"></blink>
      <div class="oculus">
        <label for="about-5" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-1" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
</article>
{% endblock %}
