{% load wagtailcore_tags %}
{% block about %}
<article class="about">
  <input type="radio" name="radioabout" id="about-1" checked>
  <section class="about-s about-1">
    <div class="boxes">
      {% for block in page.about1 %}
        {% if block.block_type == 'title' %}
            <div class="box-title">
                <h3>{{ block.value }}</h3>
            </div>
        {% else %}
            <div class="box">
                {% include_block block %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="triangulum">
      <blink class="oculus-blink">Erebos Network</blink>
      <div class="oculus">
        <label for="about-6" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-2" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-2">
  <section class="about-s about-2">
    <div class="boxes">
      {% for block in page.about1 %}
        {% if block.block_type == 'title' %}
            <div class="box-title">
                <h3>{{ block.value }}</h3>
            </div>
        {% else %}
            <div class="box">
                {% include_block block %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="triangulum">
      <img class="oculus-pic" src="https://erebos.xyz/PIC/erebos_network.png" alt="erebos_network">
      <div class="oculus">
        <label for="about-1" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-3" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-3">
  <section class="about-s about-3">
    <div class="boxes">
      {% for block in page.about1 %}
        {% if block.block_type == 'title' %}
            <div class="box-title">
                <h3>{{ block.value }}</h3>
            </div>
        {% else %}
            <div class="box">
                {% include_block block %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="triangulum">
      <blink class="oculus-blink">Code</blink>
      <div class="oculus">
        <label for="about-2" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-4" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-4">
  <section class="about-s about-4">
    <div class="boxes">
      {% for block in page.about1 %}
        {% if block.block_type == 'title' %}
            <div class="box-title">
                <h3>{{ block.value }}</h3>
            </div>
        {% else %}
            <div class="box">
                {% include_block block %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="triangulum">
      <img class="oculus-pic" src="https://erebos.xyz/PIC/pacman.png" alt="erebos_network">
      <div class="oculus">
        <label for="about-3" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-5" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-5">
  <section class="about-s about-5">
    <div class="boxes">
      {% for block in page.about1 %}
        {% if block.block_type == 'title' %}
            <div class="box-title">
                <h3>{{ block.value }}</h3>
            </div>
        {% else %}
            <div class="box">
                {% include_block block %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="triangulum">
      <img class="oculus-pic" src="https://erebos.xyz/PIC/39.png" alt="erebos_network">
      <div class="oculus">
        <label for="about-4" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-6" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
  <input type="radio" name="radioabout" id="about-6">
  <section class="about-s about-6">
    <div class="boxes">
      {% for block in page.about1 %}
        {% if block.block_type == 'title' %}
            <div class="box-title">
                <h3>{{ block.value }}</h3>
            </div>
        {% else %}
            <div class="box">
                {% include_block block %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="triangulum">
      <blink class="oculus-blink"></blink>
      <div class="oculus">
        <label for="about-5" class="oculus-nav prev"><img src="https://erebos.xyz/PIC/it.png" alt="<"></label>
        <label for="about-1" class="oculus-nav next"><img src="https://erebos.xyz/PIC/it.png" alt=">"></label>
        <div class="oculus-nav-dots">
          <label for="about-1" class="oculus-nav-dot" id="about-dot-1"></label>
          <label for="about-2" class="oculus-nav-dot" id="about-dot-2"></label>
          <label for="about-3" class="oculus-nav-dot" id="about-dot-3"></label>
          <label for="about-4" class="oculus-nav-dot" id="about-dot-4"></label>
          <label for="about-5" class="oculus-nav-dot" id="about-dot-5"></label>
          <label for="about-6" class="oculus-nav-dot" id="about-dot-6"></label>
        </div>
      </div>
    </div>
  </section>
</article>
{% endblock %}
