{% block header %}
<header class="site-header">
  <nav class="navtop">
    <ul class="level-1">
      <li>
        <a href="#" title="Home">Home</a></li>
      <li>
        <a href="#ts3.party" title="Projects">Projects</a>
        <ul class="level-2">
          <li>
            <a href="#ts3.party" title="Ts3.Party">Ts3.Party</a>
          </li>
          <li>
            <a href="#nize.host" title="Nize.Host">Nize.Host</a>
          </li>
          <li>
            <a href="#chat.erebos" title="Chat.Erebos">Chat.Erebos</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#theteam" title="Info">Info</a>
        <ul class="level-2">
          <li>
            <a href="#theteam" title="TheTeam">TheTeam</a>
          </li>
          <li>
            <a id="party" href="#party" title="Party">Party</a>
          </li>
          <li>
            <a href="#impressum" title="Impressum">Impressum</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="banner">
    <div class="b bleft">
      <img id="qr" src="https://erebos.xyz/PIC/error.png" alt="error">
    </div>
    <img id="Izaya" src="https://erebos.xyz/PIC/OriharaIzaya.png" alt="OriharaIzaya">
    <div class="titlecontainer">
      <h1>{{ self.title }}</h1>
    </div>
    <img id="Shizuo" src="https://erebos.xyz/PIC/HeiwajimaShizuo.png" alt="HeiwajimaShizuo">
    <div class="b bright">
      <img id="seal" src="https://erebos.xyz/PIC/seal13.gif" alt="seal13">
    </div>
  </div>
</header>
{% endblock %}
